// Minimal resource script for the VSCP helper library.
//
#include "resource.h"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 26,8,6,0
    PRODUCTVERSION 26,8,6,0
    FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
    FILEOS 0x4L
    FILETYPE 0x2L
    FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "the VSCP Project"
            VALUE "FileDescription", "Helper library for the VSCP project"
            VALUE "FileVersion", "26-08-6"
            VALUE "InternalName", "VSCP helper lib.dll"
            VALUE "LegalCopyright", "(c) the VSCP Project.  All rights reserved."
            VALUE "OriginalFilename", "VSCP helper lib.dll"
            VALUE "ProductName", "VSCP & Friends"
            VALUE "ProductVersion", "26-08-6"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1252
    END
END
