Source: vscpworks
Section: utils
Priority: optional
Maintainer: Ake Hedman <akhe@grodansparadis.com>
Build-Depends: debhelper (>= 11), autotools-dev
Standards-Version: 4.1.3
Homepage: https://www.vscp.org
Vcs-Browser: https://github.com/grodansparadis/vscpl2drv-logger
Vcs-Git: https://github.com/grodansparadis/vscpl2drv-logger.git

Package: vscpworks
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libc6-dev, libexpat (>= 2),
 libssl-dev (>= 1.1), libwxgtk3.0-dev (>=3.0)
Description: This is a multi tool for VSCP & Friends. It allow for configuration,
 bootloading, search etc for remote devices.
