#!/usr/bin/make -f

%:
	dh $@ --with autoreconf

override_dh_shlibdeps:
	dpkg-shlibdeps -Tdebian/libvscphelper.substvars $$(pwd)/debian/libvscphelper/usr/lib/$(DEB_BUILD_GNU_CPU)-$(DEB_BUILD_GNU_SYSTEM)/libvscphelper.so.14.0.0
	dpkg-shlibdeps -Tdebian/libvscphelper-dev.substvars $$(pwd)/debian/libvscphelper/usr/lib/$(DEB_BUILD_GNU_CPU)-$(DEB_BUILD_GNU_SYSTEM)/libvscphelper.so.14.0.0

